<!DOCTYPE html>

<html>
    <head>
        <title>RasPi Signage Controller</title>
        <meta charset=utf8 />
        <meta name=viewport content="width=device-width,initial-scale=1" />

        <script src="https://unpkg.com/vue@2.6.x"></script>
        <link rel=stylesheet href="https://unpkg.com/mdi/css/materialdesignicons.min.css" />
        <link rel=stylesheet href="https://unpkg.com/vuetify@2.0.x/dist/vuetify.min.css" />
        <script src="https://unpkg.com/vuetify@2.0.x/dist/vuetify.min.js"></script>
        <script src="https://unpkg.com/axios@0.19.x/dist/axios.min.js"></script>
    </head>
    <body>
        <main>
            <v-app>
                <v-app-bar app color=indigo dark>
                    <v-toolbar-title>RasPi Signage Controller</v-toolbar-title>
                    <div class=flex-grow-1></div>
                    <v-btn icon @click=refresh><v-icon>mdi-reload</v-icon></v-btn>
                </v-app-bar>

                <v-content>
                    <v-container>
                        <v-card class=ma-2 :loading=sending>
                            <v-card-title v-if=current>{{ current.split('/').pop() }}</v-card-title>
                            <v-card-title v-else>---</v-card-title>
                            <v-card-text v-if=current>{{ current.replace(/[^/]+$/, '') }}</v-card-text>
                            <v-card-actions>
                                <div class=flex-grow-1></div>
                                <v-btn large icon @click="sendCommand('prev')" :disabled="status === 'stop'"><v-icon>mdi-skip-previous</v-icon></v-btn>
                                <v-btn large icon @click="sendCommand('stop')" :disabled="status === 'stop'"><v-icon>mdi-stop</v-icon></v-btn>
                                <v-btn large icon @click="sendCommand('pause')" v-if="status === 'play'"><v-icon>mdi-pause</v-icon></v-btn>
                                <v-btn large icon @click="sendCommand('resume')" v-else :disabled="status === 'stop'"><v-icon>mdi-play</v-icon></v-btn>
                                <v-btn large icon @click="sendCommand('next')" :disabled="status === 'stop'"><v-icon>mdi-skip-next</v-icon></v-btn>
                                <div class=flex-grow-1></div>
                            </v-card-actions>
                        </v-card>

                        <v-card class=ma-2 :loading=loading>
                            <v-data-table
                                :headers=headers
                                :items=playlist
                                :items-per-page=25
                                :footer-props="{
                                    itemsPerPageOptions: [25, 50, 100, -1],
                                }"
                                item-key=path
                                @click:row=changeTo>

                                <template v-slot:item.current="{ item }">
                                    <template v-if=item.current><v-icon>mdi-play-circle</v-icon> playing</template>
                                    <template v-else><v-icon>mdi-checkbox-blank-circle-outline</v-icon> standby</template>
                                </template>

                                <template v-slot:item.type="{ item }">
                                    <template v-if="item.type === 'video'"><v-icon>mdi-filmstrip</v-icon> video</template>
                                    <template v-else-if="item.type === 'image'"><v-icon>mdi-image</v-icon> picture</template>
                                    <template v-else="item.type === 'image'"><v-icon>mdi-help-box</v-icon> unknown</template>
                                </template>
                            </v-data-table>
                        </v-card>
                    </v-container>
                </v-content>
            </v-app>
        </main>

        <script>
function guessType(path) {
    const ext = path.split('.').pop();

    if (['avi', 'm4v', 'mkv', 'mov', 'mp4'].includes(ext)) {
        return 'video';
    } else if (['git', 'jpeg', 'jpg', 'png', 'tif', 'tiff'].includes(ext)) {
        return 'image';
    } else {
        return 'unknown';
    }
}

new Vue({
    el: 'main',
    vuetify: new Vuetify(),
    data: () => ({
        headers: [
            {text: 'status', value: 'current'},
            {text: 'type', value: 'type'},
            {text: 'directory', value: 'dir'},
            {text: 'name', value: 'name'},
        ],
        playlist: [],
        status: 'stop',
        current: '',
        loading: true,
        sending: false,
    }),
    mounted() {
        (autoRefresh = () => {
            this.refresh()
                .then(() => setTimeout(autoRefresh, 10000))
                .catch(err => console.error(err));
        })();
    },
    methods: {
        async refresh() {
            this.loading = true;

            const {playlist, current, status} = (await axios.get('/api')).data;
            this.current = current && current.path;
            this.status = status;

            this.playlist = playlist.map((video, idx) => ({
                current: current && idx === current.index,
                type: guessType(video),
                path: video,
                name: video.split('/').pop(),
                dir: video.replace(/[^/]+$/, ''),
            }));

            this.loading = false;
        },
        async changeTo(item) {
            this.sending = true;
            await axios.post('/api/play', {path: item.path});
            setTimeout(async () => {
                await this.refresh();
                this.sending = false;
            }, 100);
        },
        async sendCommand(command) {
            this.sending = true;
            await axios.post(`/api/${command}`);
            setTimeout(async () => {
                this.sending = false;
                await this.refresh();
            }, 100);
        },
    },
});
        </script>
    </body>
</html>
